body {
  /* margin-top: 13.5rem; */
  /* color: #999;
  font: 400 10.6666666667px exo, ubuntu, "segoe ui", helvetica, arial,
    sans-serif;
  text-align: center; */
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC")
    repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 8s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 8s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 8s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 8s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

h1,
h2 {
  text-transform: uppercase;
}

.glassmorph {
  background: rgba(255, 255, 255, 0.1);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 31, 0.37); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(2.7px);

  border: 1px solid rgba(255, 255, 255, 0.18);
}

.anti-glassmorph {
  background: rgba(255, 255, 255, 1);
}

.logo-navbar {
  height: 30px;
  /* margin-bottom: 20px; */
}

.logo-footer {
  height: 30px;
  margin-bottom: 10px;
}

.social-icons {
  height: 35px;
}
.social-icons-instagram {
  height: 30px;
  padding-left: 3px;
}

.gtco-list-link-social {
  list-style-type: none;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
